.homeStudenteTitle {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: xx-large;
    color: white;
}

.homeStudenteNome {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: medium;
    color: white;
    margin-left: 5%;
}

.homeStudenteContent {
    --ion-background-color: #012D5E
}

ion-toolbar {
    --background: #012D5E;
}

.lowerToolbar {
    --background: #012D5E;
    color: #012D5E;
}

.mainDiv {
    position: relative;
}

.logOut {
    margin-top: 20%;
    --background: #012D5E;
    color: #ffffff;
    width: 2.5em;
    height: 2.5em;
}

.logOutButtons {
    margin-left: 3%;
}

.nuovoTButton {
    margin-top:20%;
    --background: #012D5E;
    color: #ffffff;
    width: 2.5em;
    height: 2.5em;
}

.nuovoTButtons {
    margin-right: 3%;
}

.homeStudenteUpperIcons {
    color: #ffffff;
    width: 2.5em;
    height: 2.5em;
}

.homeStudenteLowerIconsTesi {
    color: #012D5E;
    width: 2.5em;
    height: 2.5em;
}

.homeStudenteLowerIconsTirocinio {
    color: white;
    width: 2.5em;
    height: 2.5em;
}

.homeStudenteTabBarTesi {
    --background: #CAEF23;
    color: #012D5E;
}

.homeStudenteTabBarTirocinio {
    --background: #012D5E;
    color: white;
}

.unimolLogoDiv {
    margin: auto;
    width: 50%;
    padding-top: 5%;
    padding-bottom: 7%;
}

.unimolLogo {
    margin: auto;
    position: relative;
    width: 80%;
    height: 80%;
}

.tCard {
    background-color: #CAEF23;
    color: #012D5E;   
}

.tCardContent {
    font-size: 150%;
}

.tCardP {
    font-size: 90%;
}

.tTitle {
    text-align: left;
}