<ion-header>
  <ion-toolbar>
    <ion-buttons class="logOutButtons" slot="start">
      <ion-button (click)="logOut()" class="logOut"><ion-icon class="homeStudenteUpperIcons" name="log-out-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons class="nuovoTButtons" slot="end">
      <ion-button (click)="nuovoTirocinio()" class="nuovoTButton"><ion-icon class="homeStudenteUpperIcons" name="add-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <h1 class="homeStudenteTitle"><b>TESI & TIROCINI</b></h1> <br>
    <h3 class="homeStudenteNome">[Nome Cognome Studente]</h3>
  </ion-toolbar>
</ion-header>

<ion-content class="homeStudenteContent" fullscreen="true">

  <div class="mainDiv">
    
    <ion-card class="tCard" color="light">
      <ion-card-content class="tCardContent">
        <h1 class="tTitle"><b>Laboratorio di Radiomica</b></h1>
        <br>
        <b>CdL: Informatica</b> <br>
        <b>Tutor: Prof. Antonella Santone</b> <br>
        <b>Completamento: 36/160 ore</b> <br>
      </ion-card-content>
    </ion-card>

  </div>

  <div class="unimolLogoDiv">
    <ion-img class="unimolLogo" src="assets/images/unimolLogo.jpg" alt="unimolLogo"></ion-img>
  </div>

</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar class="lowerToolbar" slot="bottom">
      <ion-tab-button (click)="navigaTesi()" class="homeStudenteTabBarTesi" tab="tesi">
        <ion-icon class="homeStudenteLowerIconsTesi" name="book-outline"></ion-icon>
        <b>Tesi</b>
      </ion-tab-button>
      <ion-tab-button class="homeStudenteTabBarTirocinio" tab="tirocinio">
        <ion-icon class="homeStudenteLowerIconsTirocinio" name="desktop-outline"></ion-icon>
        <b>Tirocinio</b>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>