<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="back" defaultHref="elenco-attivita-tirocinio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <h1 class="attivitaTitle"><b>AGGIUNGI ATTIVITÀ</b></h1>
  </ion-toolbar>
</ion-header>

<ion-content class="attivitaContent" fullscreen="true">
  <div class="mainDiv">
    <div class="userInput">

      <h3 class="titolo"><b>DATA</b></h3>
      <ion-item [button]="true" (click)="openCalendar()">
        <ion-input color="light" [clearInput]="true" placeholder="Nessuna data selezionata" [value]="dataFormattata" [readonly]="true"></ion-input>

        <ion-datetime-button datetime="datetime" id="fake-click"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true" [isOpen]="showCalendar" (didDismiss)="cancelCalendar()">
          <ng-template>
            <ion-datetime
              id="datetime"
              presentation="date"
              [showDefaultButtons]="true"
              doneText="CONFERMA"
              cancelText="ANNULLA"
              [(ngModel)]="data"
              (ionChange)="aggiornaData()"
            ></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      <h3 class="titolo"><b>ORARIO ENTRATA</b></h3>
      <ion-item [button]="true" (click)="openTimeE()">
        <ion-input color="light" [clearInput]="true" placeholder="Nessun orario selezionato" [value]="orarioEFormattato" [readonly]="true"></ion-input>

        <ion-datetime-button datetime="timeE" id="fake-click"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true" [isOpen]="showTimeE" (didDismiss)="cancelTimeE()">
          <ng-template>
            <ion-datetime
              id="timeE"
              presentation="time"
              [showDefaultButtons]="true"
              doneText="CONFERMA"
              cancelText="ANNULLA"
              [(ngModel)]="orarioE"
              (ionChange)="aggiornaOrarioE($event)"
            ></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      <h3 class="titolo"><b>ORARIO USCITA</b></h3>
      <ion-item [button]="true" (click)="openTimeU()">
        <ion-input color="light" [clearInput]="true" placeholder="Nessun orario selezionato" [value]="orarioUFormattato" [readonly]="true"></ion-input>

        <ion-datetime-button datetime="timeU" id="fake-click"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true" [isOpen]="showTimeU" (didDismiss)="cancelTimeU()">
          <ng-template>
            <ion-datetime
              id="timeU"
              presentation="time"
              [showDefaultButtons]="true"
              doneText="CONFERMA"
              cancelText="ANNULLA"
              [(ngModel)]="orarioU"
              (ionChange)="aggiornaOrarioU($event)"
            ></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      <h3 class="titolo"><b>DURATA</b></h3>
      <ion-item>
        <ion-input color="light" [clearInput]="true" placeholder="Inserire orari di entrata/uscita" [readonly]="true" [value]="durata"></ion-input>
      </ion-item>

      <h3 class="titolo"><b>ATTIVITÀ SVOLTA</b></h3>
      <ion-item>
        <ion-textarea [autoGrow]="true" color="light" placeholder="Inserire nota" [(ngModel)]="nota"></ion-textarea>
      </ion-item>

    </div>
  </div>

  <div id="buttons">
    <div class="buttonDiv">
      <ion-button class="creaButton" (click)="conferma()"><b>CONFERMA</b></ion-button>
    </div>
  </div>
</ion-content>