<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="back" defaultHref="home-studente-tesi"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <h1 class="nuovaTesiTitle"><b>NUOVA TESI</b></h1>
  </ion-toolbar>
</ion-header>

<ion-content class="nuovaTesiContent" fullscreen="true">
  <div class="mainDiv">
    <div class="userInput">
      <h3 class="titolo"><b>TITOLO</b></h3>
      <ion-item>
        <ion-input color="light" [clearInput]="true" placeholder="Inserire titolo"></ion-input>
      </ion-item>

      <h3 class="titolo"><b>INSEGNAMENTO *</b></h3>
      <ion-item [button]="true" id="selezioneInsegnamento">
        <ion-input color="light" [clearInput]="true" placeholder="Inserire insegnamento" [value]="insegnamentoSelezionato" [readonly]="true"></ion-input>
      </ion-item>

      <ion-modal trigger="selezioneInsegnamento" #modalInsegnamento>
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button class="modalUpperButtons" (click)="cancelInsegnamento()">Annulla</ion-button>
              </ion-buttons>
              <ion-buttons slot="end">
                <ion-button class="modalUpperButtons" (click)="confirmInsegnamento()">Fatto</ion-button>
              </ion-buttons>
            </ion-toolbar>
            <ion-toolbar>
              <h3 class="modalTitle"><b>SELEZIONA INSEGNAMENTO</b></h3>
            </ion-toolbar>
            <ion-toolbar>
              <ion-searchbar [debounce]="500" (ionInput)="handleInputI($event)" animated="true" placeholder="Cerca..."></ion-searchbar>
            </ion-toolbar>
          </ion-header>
          
          <ion-content class="nuovaTesiContent">
            <ion-list id="modal-list" [inset]="true">
              <ion-radio-group [(ngModel)]="insegnamentoSelezionato">
                <ion-item class="item" *ngFor="let insegnamento of ricercaInsegnamenti">
                  <ion-radio class="radio" [value]="insegnamento.nome">{{ insegnamento.nome }}</ion-radio>
                </ion-item>
            </ion-radio-group>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-modal>

      <h3 class="titolo"><b>RELATORE *</b></h3>
      <ion-item [button]="true" id="selezioneRelatore">
        <ion-input color="light" [clearInput]="true" placeholder="Inserire relatore" [value]="relatoreSelezionato" [readonly]="true"></ion-input>
      </ion-item>

      <ion-modal trigger="selezioneRelatore" #modalRelatore>
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button class="modalUpperButtons" (click)="cancelRelatore()">Annulla</ion-button>
              </ion-buttons>
              <ion-buttons slot="end">
                <ion-button class="modalUpperButtons" (click)="confirmRelatore()">Fatto</ion-button>
              </ion-buttons>
            </ion-toolbar>
            <ion-toolbar>
              <h3 class="modalTitle"><b>SELEZIONA RELATORE</b></h3>
            </ion-toolbar>
            <ion-toolbar>
              <ion-searchbar [debounce]="500" (ionInput)="handleInputR($event)" animated="true" placeholder="Cerca..."></ion-searchbar>
            </ion-toolbar>
          </ion-header>
          
          <ion-content class="nuovaTesiContent">
            <ion-list id="modal-list" [inset]="true">
              <ion-radio-group [(ngModel)]="relatoreSelezionato">
                <ion-item class="item" *ngFor="let docente of ricercaDocenti">
                  <ion-radio class="radio" [value]="docente.nome">{{ docente.nome }}</ion-radio>
                </ion-item>
            </ion-radio-group>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-modal>

      <h3 class="titolo"><b>CORRELATORI</b></h3>
      <ion-item [button]="true" id="selezioneCorrelatori">
        <ion-input color="light" [clearInput]="true" placeholder="0 correlatori selezionati" [value]="correlatori" [readonly]="true"></ion-input>
      </ion-item>

      <ion-modal trigger="selezioneCorrelatori" #modalCorrelatori>
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button class="modalUpperButtons" (click)="cancelCorrelatori()">Annulla</ion-button>
              </ion-buttons>
              <ion-buttons slot="end">
                <ion-button class="modalUpperButtons" (click)="confirmCorrelatori()">Fatto</ion-button>
              </ion-buttons>
            </ion-toolbar>
            <ion-toolbar>
              <h3 class="modalTitle"><b>SELEZIONA CORRELATORI</b></h3>
            </ion-toolbar>
            <ion-toolbar>
              <ion-searchbar [debounce]="500" (ionInput)="handleInputC($event)" animated="true" placeholder="Cerca..."></ion-searchbar>
            </ion-toolbar>
          </ion-header>
          
          <ion-content class="nuovaTesiContent">
            <ion-list id="modal-list" [inset]="true">
              <ion-item class="item" *ngFor="let interno of ricercaInterni">
                <ion-checkbox [value]="interno.nome" (ionChange)="gestisciCheckbox($event, interno.nome)" [checked]="correlatoriSelezionati.includes(interno.nome)">{{ interno.nome }}</ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-modal>
      
    </div>

    <div class="buttonDiv">
      <ion-button class="creaButton" (click)="navigaTesi()"><b>CREA</b></ion-button>
    </div>
  </div>
</ion-content>