<ion-header>
  <ion-toolbar>
    <ion-buttons class="logOutButtons" slot="start">
      <ion-button class="logOut" defaultHref="login"><ion-icon name="log-out-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons class="nuovaTesiButtons" slot="end">
      <ion-button class="nuovaTesi"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <h1 class="homeStudenteTesiTitle"><b>TESI & TIROCINI</b></h1>
  </ion-toolbar>
</ion-header>

<ion-content class="homeStudenteTesiContent" fullscreen="true">

  <div class="mainDiv">
    
    <ion-card class="tesiCard" color="light">
      <ion-card-content class="tesiCardContent">
        <h1 class="giornoTitle"><b>LUNEDÌ</b></h1>
        <br>
        <b>- I PRIMI DEL GIORNO</b> <br>
        <p class="tesiCardP">Pasta al forno</p> <br>
        <b>- I SECONDI DEL GIORNO</b> <br>
        <p class="tesiCardP">Cotoletta alla milanese</p> <br>
        <b>- I CONTORNI</b> <br>
        <p class="tesiCardP">Insalatina</p>
        <br>
      </ion-card-content>
    </ion-card>

    <ion-card class="tesiCard" color="light">
      <ion-card-content class="tesiCardContent">
        <h1 class="giornoTitle"><b>MARTEDÌ</b></h1>
        <br>
        <b>- I PRIMI DEL GIORNO</b> <br>
        <p class="tesiCardP">Pasta al forno</p> <br>
        <b>- I SECONDI DEL GIORNO</b> <br>
        <p class="tesiCardP">Cotoletta alla milanese</p> <br>
        <b>- I CONTORNI</b> <br>
        <p class="tesiCardP">Insalatina</p>
        <br>
      </ion-card-content>
    </ion-card>

  </div>

  <div class="unimolLogoDiv">
    <ion-img class="unimolLogo" src="assets/images/unimolLogo.jpg" alt="unimolLogo"></ion-img>
  </div>

</ion-content>