<ion-header>
  <ion-toolbar>
    <ion-buttons class="backButtons" slot="start">
      <ion-back-button class="back" defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-buttons class="eliminaAButtons" slot="end">
      <ion-button class="eliminaAButton" (click)="eliminaAllegato()"><ion-icon class='allegatoUpperIcons' name="trash"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <h1 class="allegatiTitle"><b>[Nome Allegato]</b></h1>
  </ion-toolbar>
</ion-header>

<ion-content class="allegatiContent" fullscreen="true">
  <div class="mainDiv">
    <div class="userInput">

      <h3 class="titolo"><b>NOME</b> <ion-icon class="present-alert" name="pencil-outline"></ion-icon></h3>
      <ion-item [button]="true" (click)="presentTitoloAlert()">
        <ion-input color="light" [clearInput]="true" [readonly]="true" [value]="nomeAllegatoTemp"></ion-input>
      </ion-item>

      <h3 class="titolo"><b>TIPOLOGIA</b></h3>
      <ion-item>
        <ion-input color="light" [clearInput]="true" [readonly]="true" [value]="tipologia"></ion-input>
      </ion-item>

      <h3 class="titolo"><b>NOTA</b> <ion-icon class="present-alert" name="pencil-outline"></ion-icon></h3>
      <ion-item>
        <ion-textarea [autoGrow]="true" color="light" placeholder="Inserire nota" [(ngModel)]="notaTemp"></ion-textarea>
      </ion-item>

      <h3 class="titolo"><b>APRI FILE ></b></h3>
    </div>
  </div>
</ion-content>