<ion-header>
  <ion-toolbar>
    <ion-buttons class="back" slot="start">
      <ion-back-button class="back" defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <h1 class="allegatiTitle"><b>AGGIUNGI ALLEGATO</b></h1>
  </ion-toolbar>
</ion-header>

<ion-content class="allegatiContent" fullscreen="true">
  <div class="mainDiv">
    <div class="userInput">
      <h3 class="titolo"><b>NOME ALLEGATO</b></h3>
      <ion-item>
        <ion-input color="light" [clearInput]="true" placeholder="Inserire nome allegato" [(ngModel)]="nomeAllegato"></ion-input>
      </ion-item>

      <h3 class="titolo"><b>TIPOLOGIA</b></h3>
      <ion-item [button]="true" id="selezioneInsegnamento">
        <ion-input color="light" [clearInput]="true" placeholder="Tipologia" [readonly]="true"></ion-input>
      </ion-item>

      <h3 class="titolo"><b>Nota</b> <ion-icon id="present-titolo-alert" name="pencil-outline"></ion-icon></h3>
      <ion-item>
        <ion-textarea [autoGrow]="true"  color="light"  placeholder="Inserisci nota" [(ngModel)]="nota"></ion-textarea>
      </ion-item>

      <h3 class="titolo"><b>AGGIUNGI FILE > </b></h3>
      
    </div>
  </div>
  <div id="buttons">
    <div class="buttonDiv">
      <ion-button class="creaButton" (click)="confermaModifiche()"><b>CONFERMA</b></ion-button>
    </div>
  </div>
</ion-content>
