<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="back" defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <h1 class="allegatiTitle"><b>AGGIUNGI ALLEGATO</b></h1>
  </ion-toolbar>
</ion-header>

<ion-content class="allegatiContent" fullscreen="true">
  <div class="mainDiv">
    <div class="userInput">

      <h3 class="titolo"><b>NOME</b></h3>
      <ion-item>
        <ion-input color="light" [clearInput]="true" placeholder="Inserire nome"></ion-input>
      </ion-item>

      <h3 class="titolo"><b>TIPOLOGIA</b></h3>
      <ion-item [button]="true">
        <ion-input color="light" [clearInput]="true" [readonly]="true" placeholder="Inserire tipologia" [value]="tipologia"></ion-input>
      </ion-item>

      <h3 class="titolo"><b>NOTA</b></h3>
      <ion-item>
        <ion-textarea [autoGrow]="true" color="light" placeholder="Inserire nota" [(ngModel)]="notaTemp"></ion-textarea>
      </ion-item>

      <h3 class="titolo"><b>APRI FILE ></b></h3>
    </div>
  </div>

  <div id="buttons">
    <div class="buttonDiv">
      <ion-button class="creaButton" (click)="confermaModifiche()"><b>CONFERMA</b></ion-button>
    </div>
  </div>
</ion-content>
